 header {
  position: fixed;       
  top: 0;               
  left: 0;
  width: 100%;           
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #010260;
  color: #ffffff;
  padding: 1rem;
  z-index: 999;         
}
      header nav a {
        color: #ffffff;
        margin-left: 1rem;
        text-decoration: none;
      }
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 25px;
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
h1 {
    color: #007bff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}
        p {
            margin-bottom: 15px;
        }
        .container {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .profile-picture {
            float: right;
            width: 150px; 
            border-radius: 50%; 
            margin-left: 20px;
        }
        .interests {
            list-style-type: none;
            padding: 0;
        }
        .interests li {
            margin-bottom: 5px;
        }