
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
  margin: 0;
  display: flex;
  justify-content: center;    
  align-items: center;       
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  body {
  margin-top: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
  background-color:#a8a8a8;
  }
 header {
  position: fixed;       
  top: 0;               
  left: 0;
  width: 100%;           
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #010260;
  color: #ffffff;
  padding: 1rem;
  z-index: 999;         
}
  header nav a {
  color: #ffffff;
  margin-left: 1rem;
  text-decoration: none;
  }
  .main {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  background: #a8a8a8;
  }
  .main .text {
  flex: 1;
  color:#000000;
  }
  .main .image {
  flex: 1;
  height: auto;
  width: 100%;
  background: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  }
  img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  }
            
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1.5rem;
        background: #06002b;
        color:#ffffff
      }
      .card {
        flex: 1 1 calc(33.333% - 1rem);
        background: #2222ff;
        padding: 1rem;
        text-align: center;
        border-radius: 6px;
      }
      a {
        color: #70b8ff;
        text-decoration: none;
      }
      footer {
        text-align: center;
        background: #090026;
        color: #ffffff;
        padding: 1rem;
      }
      .card:hover {
      transform: scale(1.05);
      animation: pulse 1s ease infinite alternate;
      }
 
@keyframes pulse {
  from { background-color: #024eff; }
  to { background-color: #0011ff; }
}
      @media (max-width: 768px) {
        .main {
          flex-direction: column;
        }
        .card {
          flex: 1 1 calc(50% - 1rem);
        }
      }
      @media (max-width: 300px) {
        .card {
          flex: 1 1 100%;
        }
      }