* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #011245, #030584);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  position: fixed;       
  top: 0;               
  left: 0;
  width: 100%;           
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #010260;
  color: #ffffff;
  padding: 1rem;
  z-index: 999;         
}

  header nav a {
  color: #ffffff;
  margin-left: 1rem;
 text-decoration: none;
 }
  .logo {
  border-top: #010260;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
      }
.contact {
  width: 100%;
  max-width: 600px;
  background: #a8a8a8;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contact h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}
.contact p {
  color: #555;
  margin-bottom: 25px;
}
.contact-form {
  text-align: left;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
}
input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s ease;
  font-size: 1rem;
}
input:focus,
textarea:focus {
  border-color: #04234e;
}
.btn {
  width: 100%;
  background: linear-gradient(135deg, #011838, #100496);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(102, 166, 255, 0.4);
}

